<link rel="stylesheet" href="/messages.css" />

<section class="sign-up-box">
	<header>
		<a href="/">
			<h1>ticket<span>Scout</span></h1>
			<img id="logo-img" src="/assets/ticketScoutLogo.svg" alt="" />
		</a>
	</header>
	<br />
	<br />
	<form action="register" method="POST" id="signUpForm">
		<label for="sign-up-fullname">Full name</label>
		<div class="input-wrap">
			<input
				autocomplete="no"
				id="sign-up-fullname"
				type="fullname"
				name="fullname"
				placeholder="John Smith"
				value="<%= typeof fullname != 'undefined' ? fullname : '' %>"
				required
			/>

			<i class="fa fa-user"></i>
		</div>
		<br />
		<label for="sign-up-email">Email</label>
		<div class="input-wrap">
			<input
				autocomplete="no"
				id="sign-up-email"
				type="email"
				name="email"
				placeholder="hello@example.com"
				value="<%= typeof email != 'undefined' ? email : '' %>"
				required
			/>
			<i class="fa fa-mail-forward"></i>
		</div>
		<br />
		<label for="sign-up-storename">Store name</label>
		<div class="input-wrap">
			<input
				id="storename"
				type="text"
				name="storename"
				placeholder="Enter store name"
				value="<%= typeof storename != 'undefined' ? storename : '' %>"
				required
			/>
			<i class="fa fa-copyright"></i>
		</div>
		<br />
		<label for="sign-up-psw">Password</label>
		<div class="input-wrap">
			<input
				id="sign-up-psw"
				type="password"
				name="password"
				placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
				value="<%= typeof password != 'undefined' ? password : '' %>"
				required
			/>
			<i class="fa fa-lock"></i>
		</div>

		<br />
		<label for="sign-up-psw-confirm">Confirm password</label>
		<div class="input-wrap">
			<input
				id="sign-up-psw-confirm"
				type="password"
				name="passwordConfirm"
				placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
				value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>"
				required
			/>
			<i class="fa fa-check-circle"></i>
		</div>
		<%- include('../partials/messages'); %>
		<div class="link-wrap">
			<a href="/recovery" class="forgot-psw-link2">Forgot Password?</a>
			<button id="sign-up-btn" type="submit">Sign Up</button>
		</div>
	</form>

	<div class="sign-up-wrap">
		<p>Have an account?<a href="/" class="sign-in-link1"> Sign In</a></p>
	</div>
</section>
<section class="graphic-box">
	<div class="text-wrap">
		<h1>
			Welcome to <span class="first">ticket</span
			><span class="second">Scout</span>
		</h1>
		<h2 id="graphic-box-text">Sign in to start your day!</h2>
	</div>
</section>
