<link rel="stylesheet" href="/messages.css" />
<section class="sign-up-box">
	<header>
		<a href="/">
			<h1>ticket<span>Scout</span></h1>
			<img id="logo-img" src="/assets/ticketScoutLogo.svg" alt="" />
		</a>
	</header>
	<form action="/employee-register" method="POST">
		<label for="sign-up-fullname">Full name</label>
		<div class="input-wrap">
			<input
				autocomplete="no"
				id="sign-up-fullname"
				type="fullname"
				name="fullname"
				placeholder="John Smith"
				value="<%= typeof fullname != 'undefined' ? fullname : '' %>"
				required
			/>
			<i class="fa fa-user"></i>
		</div>
		<br />
		<label for="sign-up-email">Email</label>
		<div class="input-wrap">
			<input
				autocomplete="no"
				id="sign-up-email"
				type="email"
				name="email"
				placeholder="hello@example.com"
				value="<%= typeof email != 'undefined' ? email : '' %>"
				required
			/>
			<i class="fa fa-mail-forward"></i>
		</div>
		<br />
		<label for="sign-up-psw">Password</label>
		<div class="input-wrap">
			<input
				id="sign-up-psw"
				type="password"
				name="password"
				placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
				value="<%= typeof password != 'undefined' ? password : '' %>"
				required
			/>
			<i class="fa fa-lock"></i>
		</div>
		<br />
		<label for="sign-up-psw-confirm">Confirm password</label>
		<div class="input-wrap">
			<input
				id="sign-up-psw-confirm"
				type="password"
				name="passwordConfirm"
				placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
				value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>"
				required
			/>
			<i class="fa fa-check-circle"></i>
		</div>
		<br />
		<label for="sign-up-code">Sign Up Code</label>
		<div class="input-wrap">
			<input
				id="sign-up-code"
				type="text"
				name="signUpCode"
				placeholder="paste code here"
				value="<%= typeof signUpCode != 'undefined' ? signUpCode : '' %>"
				required
			/>
			<i class="fas fa-fingerprint"></i>
		</div>
		<div style="margin-top: 10px">
			<%- include('../partials/messages'); %>
		</div>
		<div class="link-wrap">
			<button
				id="sign-up-btn"
				type="submit"
				style="margin-bottom: -100px"
			>
				Sign Up
			</button>
		</div>
	</form>
</section>
<section class="graphic-box">
	<div class="text-wrap">
		<h1>
			Welcome to <span class="first">ticket</span
			><span class="second">Scout</span>
		</h1>
		<h2 id="graphic-box-text">Enter in your details to start your day!</h2>
	</div>
</section>
