<link rel="stylesheet" href="/messages.css" />
<link
	rel="stylesheet"
	href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
<script type="module" src="/js/employeeRegister.js"></script>

<div class="left-container">
	<img id="logo" src="/assets/logged-out/logo.svg" alt="" />
	<img id="group1" src="/assets/logged-out/group1.svg" alt="" />
	<img id="group2" src="/assets/logged-out/group2.svg" alt="" />
	<img id="group1" src="/assets/logged-out/group3.svg" alt="" />
	<div>
		<lottie-player
			id="primary_lottie"
			src="https://assets7.lottiefiles.com/packages/lf20_mragdxra.json"
			background="transparent"
			speed="1"
			loop
			autoplay
		></lottie-player>
		<lottie-player
			class="hidden"
			id="password_lottie"
			src="https://assets3.lottiefiles.com/packages/lf20_z3pnisgt.json"
			background="transparent"
			speed="1"
			autoplay
			loop
		></lottie-player>
	</div>
</div>
<div class="right-container">
	<div class="error-msg-wrap hidden">
		<h3 id="err_msg_text"></h3>
	</div>
	<form id="employeeRegister_form">
		<div class="action-container store-info-container">
			<div class="heading">
				<h2>Join a store</h2>
				<small
					>Enter in the required info to complete your
					registration</small
				>
			</div>

			<div class="inputs employee-register">
				<div class="input-wrap">
					<label>Full name</label>
					<div>
						<span><i class="fas fa-user"></i></span>
						<input
							class="input-1"
							id="fullname"
							type="text"
							placeholder="John Doe"
							name="fullname"
							required
							novalidate
							autocomplete="nope"
							value="<%=typeof fullname != undefined ? fullname : ''%>"
						/>
					</div>
				</div>
				<div class="input-wrap">
					<label>Email address</label>
					<div>
						<span><i class="fas fa-envelope"></i></span>
						<input
							class="input-1"
							id="email"
							type="email"
							placeholder="example@email.com"
							name="email"
							required
							novalidate
							value="<%=typeof email != undefined ? email : ''%>"
						/>
					</div>
				</div>
				<div class="input-wrap">
					<label>Store sign up code</label>
					<div>
						<span><i class="fas fa-store"></i></span>
						<input
							class="input-1"
							id="signUpCode"
							type="text"
							placeholder="Paste code"
							name="signUpCode"
							required
							novalidate
							autocomplete="no"
							value="<%=typeof signUpCode != undefined ? signUpCode : ''%>"
						/>
					</div>
				</div>
			</div>
			<div class="link-wrap x">
				<a></a>
				<a href="/"> Login</a>
			</div>
			<button id="next_Btn" form="employeeRegister_form" type="button">
				Next
			</button>
		</div>
		<div class="action-container password-container hidden">
			<div class="heading">
				<h2>Create an account password</h2>
				<small>Come up with a secure password for your account</small>
			</div>
			<div class="inputs" id="employeeRegister_form">
				<div class="input-wrap">
					<label>Password</label>
					<div>
						<span><i class="fas fa-lock"></i></span>
						<input
							class="input-2"
							id="password"
							type="password"
							placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
							name="password"
							novalidate
							required
							value="<%=typeof password != undefined ? password : ''%>"
						/>
						<span id="pass_eye_icon"><i class="fas fa-eye"></i></span>
					</div>
				</div>
				<div class="input-wrap">
					<label>Confirm your Password</label>
					<div>
						<span><i class="fas fa-lock"></i></span>
						<input
							class="input-2"
							id="passwordConfirm"
							type="password"
							placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
							name="passwordConfirm"
							novalidate
							required
							value="<%=typeof passwordConfirm != undefined ? passwordConfirm : ''%>"
						/>
						<span id="pass_conf_eye_icon"><i class="fas fa-eye"></i></span>
					</div>
				</div>
			</div>
			<div class="link-wrap">
				<span><i id="back_arrow" class="fi-rr-arrow-left"></i></span>
				<a href="/"> Login</a>
			</div>
			<button
				id="register_Btn"
				form="employeeRegister_form"
				type="button"
			>
				Join Store
			</button>
		</div>
		<div class="loading-animation hidden">
			<h3 class="success-msg"></h3>
			<lottie-player
				src="https://assets5.lottiefiles.com/packages/lf20_5nLqa4.json"
				background="transparent"
				speed="1"
				style="width: 300px; height: 300px"
				loop
				autoplay
			></lottie-player>
		</div>
	</form>
</div>
