<% let email = user.email; %> 
<% let storePaymentSettings = store.storeSettings.payments %> 
<% let ticketSettings = store.storeSettings.tickets %> 
<% const firstname = user.fullname.split(" ")[0].charAt(0).toUpperCase() + user.fullname.split(" ")[0].slice(1) %> 
<% const lastname = user.fullname.split(" ")[1].charAt(0).toUpperCase() + user.fullname.split(" ")[1].slice(1) %> 
<link
	rel="stylesheet"
	href="/scss/logged-in/account-settings/account-settings.css"
/>
<script type="module" src="/js/account-settings.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<%- include('../partials/messages'); %>
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Account Settings</h1>
					<small>Change your profile and account settings</small>
				</div>
			</div>
		</div>
		<div class="account-settings-container">
			<div class="settings-sidebar">
				<a href="#account" class="menu-item"
					><i class="fas fa-user"></i>Account</a
				>
				<a href="#password" class="menu-item"
					><i class="fas fa-lock"></i>Password</a
				>
				<a href="#timeclock" class="menu-item"
					><i class="fas fa-user-clock"></i>Time Clock</a
				>
				<% if(user.admin) {%> 
					<a href="#payments" class="menu-item"
						><i class="fas fa-file-invoice"></i>Payments</a
					>
					<a href="#tickets" class="menu-item"
						><i class="fas fa-ticket-alt"></i>Tickets</a
					>
					<a href="#employees" class="menu-item"
						><i class="fas fa-users-cog"></i>Employees</a
					>
					<a href="#deletedata" class="menu-item"
						><i class="fas fa-comment-dots"></i>Delete Data</a
					>
				<% } %> 
			</div>
			<div class="section-content">
				<div id="account" class="section">
					<h2>Personal Info</h2>
					<form action="update-account-info" method="POST">
						<div>
							<label for="">Firstname</label>
							<input type="text" name="firstname" value="<%= firstname %>">
						</div>
						<div>
							<label for="">Lastname</label>
							<input type="text" name="lastname" value="<%= lastname %>">
						</div>
						<div>
							<label for="">Email</label>
							<input type="email" name="email" value="<%= user.email %>">
						</div>
						<div class="btn-wrap">
							<button type="submit">Save Changes</button>
						</div>
					</form>
				</div>
				<div id="password" class="section">
					<h2>Change Password</h2>
					<form action="change-account-password" method="POST">
						<div>
							<label for="">Old Password</label>
							<input type="password" name="oldPlainTextPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
						</div>
						<div>
							<label for="">New password</label>
							<input type="password" name="newPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
						</div>
						<div>
							<label for="">Confirm new password</label>
							<input type="password" name="confirmNewPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
						</div>
						<div class="btn-wrap">
							<button type="submit">Save Changes</button>
						</div>
					</form>
				</div>
				<div id="timeclock" class="section">
					<h2>Time Clock History</h2>
					<input type="hidden" id="user-clock-history" value="<%= JSON.stringify(user.timeClock.clockHistory) %>">
					<div class="clock-filters">
						<p>From <input type="date" id="from_date"></p>
						<p>To <input type="date" id="to_date"></p>
						<button type="button" id="filter_dates_btn">Filter</button>
						<button type="button" id="reset_dates_btn">Reset</button>
						<p id="hours_worked_text"> </p>
						<% if(user.admin) { %> 
							<div class="admin-view">
								<p>Employee Totals:</p>
								<input type="checkbox" id="total_up_employee_hours">
							</div>
							<p id="pay_period"></p>
						<% } %> 
					</div>
					<table id="user_clock_table">
						<thead>
							<tr>
								<td>Date</td>
								<td>Clock In Time</td>
								<td>Clock Out Time</td>
								<td>Hours Worked</td>
							</tr>
						</thead>
						<tbody id="table_body_ref">
							
						</tbody>
					</table>
					<table class="admin-table hide">
						<thead>
							<tr>
								<td>Employee</td>
								<td>Hours Worked</td>
							</tr>
						</thead>
						<tbody id="admin_table_body_ref">

						</tbody>
					</table>
				</div>
				<% if(user.admin) {%> 
					<div id="payments" class="section">
						<h2>Payments</h2>
						<p>Configure your store payment settings</p>
						<div class="payment-settings">
							<div class="left-container">
								<div class="category-wrap">
									<h4>Categories</h4>
									<small>Keeps your payments organized</small>
									<select name="categories">
										<% if(storePaymentSettings.categories.length == 0) {%>
											<option hidden selected >Add your first category</option>
										<% } else { %>
											<option selected>View your categories</option>
											<% for(let i=0;i<storePaymentSettings.categories.length;i++) {%> 
												<option value=""><%=storePaymentSettings.categories[i]%></option>
											<% } %> 
										<% } %> 
									</select>
									<div>
										<button type="button" id="create_category">Create</button>
										<button type="button" id="remove_category">Remove</button>
										<input type="text" id="category_input" placeholder="Category name...">
									</div>
								</div>	
								<div class="tax-rate-wrap">
									<h4>Tax Rate</h4>
									<small>Edit your store tax rate (digits only)</small>
									<div>
										<input type="text" name="taxRate" id="tax_rate_input" value="<%= `${storePaymentSettings.taxRate}%` %>">
										<button type="button" id="tax_rate_btn">Update</button>
									</div>
								</div>
							</div>
							<div class="address-form">
								<h4>Store Address</h4>
								<small>Shown on payments</small>
								<div>
									<label for="">Primary Address</label>
									<input class="address-input" id="primary_address" type="text" value="<%=typeof storePaymentSettings.address.primary != "undefined" ? storePaymentSettings.address.primary : " " %>">
								</div>
								<div>
									<label for="">City</label>
									<input class="address-input" id="city" type="text" value="<%=typeof storePaymentSettings.address.city != "undefined" ? storePaymentSettings.address.city : " " %>">
								</div>
								<div>
									<label for="">Province</label>
									<input class="address-input" id="province" type="text" value="<%=typeof storePaymentSettings.address.province != "undefined" ? storePaymentSettings.address.province : " " %>">
								</div>
								<div>
									<label for="" >Postal Code</label>
									<input class="address-input" id="postal_code" type="text" value="<%=typeof storePaymentSettings.address.postal != "undefined" ? storePaymentSettings.address.postal : " " %>">
								</div>
								<div>
									<button id="update_address_button" type="button">Update</button>
								</div>
							</div>
							
						</div>
					</div>
					<div id="tickets" class="section">
						<h2>Tickets</h2>
						<p>Configure your store ticket settings</p>
						<div class="ticket-settings">
							<div class="left-container">
								<h4>Ticket Status</h4>
								<small>
									Add status options to organize your tickets.<br>
									Below are the 4 default status options for your store.
								</small>
								<div class="statuses-wrap">
									<div class="statuses">
										<% for(let i =0; i<ticketSettings.status.length; i++) { %> 
										<div class="status">
											<p><%= ticketSettings.status[i][0] %></p>
											<div class="color"></div>
											<input type="hidden" value="<%=JSON.stringify(ticketSettings.status[i][1])%>">
										</div>	
										<% } %> 						
									</div>
									<div class="add-remove-status">
										<div>
											<label>Name</label>
											<input type="text" id="status_name_input">
										</div>
										<div>
											<label>Colour (hex values)</label>
											<div>
												<input type="text" id="status_color_input">
												<div id="color_preview">preview<i class="fas fa-fill-drip"></i></div>
											</div>
										</div>
										<div class="button-wrap">
											<button type="button" id="update_ticket_status_settings">Add</button>
											<button type="button" id="delete_ticket_status_settings">Delete</button>
										</div>
										<div class="default-colors-wrap">
											<label for="">color palette</label>
											<div class="row">
												<div id="new" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="alert" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="attention" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="standby" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="caution" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="resolved" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
											</div>
											<div class="row">
												<div id="new2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="alert2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="attention2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="standby2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="caution2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
												<div id="resolved2" class="color-copy">
													<span><i class="far fa-copy"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<hr color="#eaeef5" size="1" />
							<div class="right-container">
								<h4>Ticket Issue</h4>
								<small>No default ticket issue, add some!</small>
								<select name="issues">
									<% if(ticketSettings.issue.length == 0) {%>
										<option hidden selected>Add your first issue</option>
									<% } else { %>
										<option selected>View your issues</option>
										<% for(let i=0;i<ticketSettings.issue.length;i++) {%> 
											<option value=""><%=ticketSettings.issue[i]%></option>
										<% } %> 
									<% } %> 
								</select>
								<div>
									<button type="button" id="create_issue">Create</button>
									<button type="button" id="remove_issue">Remove</button>
									<input type="text" id="issue_input" placeholder="Issue name...">
								</div>
							</div>
						</div>
					</div>
					<div id="employees" class="section">
						<h2>Employee Settings</h2>
						<small>View and edit employee settings</small>
						<div class="employee-content">
							<div class="left-container">
								<div class="input-wrap">
									<h4>Invite Employee</h4>
									<small>add a new employee by sending an invite link</small>
									<input class="employee-email-input" id="invite_employee_input" type="text" placeholder="Email address">
									<button id="invite_employee_btn">Invite</button>
								</div>
								<div class="input-wrap">
									<h4>Remove Employee from store</h4>
									<small>This action cannot be undone</small>
									<input class="employee-email-input" id="remove_employee_input" type="text" placeholder="Email address">
									<button id="remove_employee_btn">Delete</button>
								</div>
								<div class="input-wrap">
									<h4>Give admin persmissions</h4>
									<small>Store managers are recommended to have admin persmissions</small>
									<input class="employee-email-input" id="employee_permission_input" type="text" placeholder="Email address">
									<button id="toggle_employee_permission_btn">Toggle admin access</button>
								</div>
							</div>
							<div class="right-container"> </div>
						</div>
					</div>
					<div id="deletedata" class="section">
						<h2>Delete data within your store</h2>
						<p>All actions cannot be undone</p>
						<div class="options">
							<div class="remove-wrap">
								<label>Delete a ticket</label>
								<input type="text" placeholder="Enter ticket ID" >
								<div>
									<button class="delete-store-data">Delete</button>
									<button class="confirm-removal">Remove Ticket</button>
								</div>
							</div>
							<div class="remove-wrap">
								<label>Delete a payment</label>
								<input type="text" placeholder="Enter payment number">
								<div>
									<button class="delete-store-data">Delete</button>
									<button class="confirm-removal">Remove Payment</button>
								</div>
							</div>
							<div class="remove-wrap">
								<label>Delete a customer account</label>
								<p>Please contact support for this action</p>
							</div>
						</div>
					</div>
				<% } %> 
			</div>
		</div>
	</main>
</div>
