<link
	rel="stylesheet"
	href="/logged-in/create-new-ticket/create-new-ticket.css"
/>
<link rel="stylesheet" href="/messages.css" />
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>New Ticket</h1>
					<small
						>Add a new ticket by filling in the information
						below</small
					>
					<%- include('../partials/messages'); %>
				</div>
			</div>
		</div>
		<div class="new-ticket-container">
			<div class="content-container">
				
				<form action="/create-new-ticket" method="POST">
					<div class="info-container">
						<h3>Customer Information</h3>
						<div class="input-wrap">
							<label for="">First name</label>
							<input
								type="text"
								name="firstname"
								placeholder="John"
								required
								autocomplete="nope"
								value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
							/>
						</div>
						<div class="input-wrap">
							<label for="">Last name</label>
							<input
								type="text"
								name="lastname"
								placeholder="Smith"
								required
								autocomplete="nope"
								value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
							/>
						</div>
						<div class="input-wrap">
							<label for="">Phone number</label>
							<input
								type="text"
								name="phone"
								placeholder="123-356-7890"
								required
								autocomplete="nope"
								value="<%= typeof phone != 'undefined' ? phone : '' %>"
							/>
						</div>
						<div class="input-wrap">
							<div>
								<label for="">Email</label>
								<small>Optional</small>
							</div>
							<input
								type="email"
								name="email"
								id="email"
								placeholder="example@hello.com"
								value="<%= typeof email != 'undefined' ? email : '' %>"
							/>
						</div>
					</div>
					<div class="info-container">
						<h3>Ticket Information</h3>
						<div class="input-wrap">
							<label for="">Subject</label>
							<input
								type="text"
								name="subject"
								placeholder="Title of ticket"
								required
								autocomplete="off"
								value="<%= typeof subject != 'undefined' ? subject : '' %>"
							/>
						</div>
						<div class="input-wrap">
							<label for="">Issue</label>
							<select name="issue" id="issue" required>
								<option value="repair">repair</option>
								<option value="warranty">warranty</option>
							</select>
						</div>
						<div class="input-wrap">
							<label for="">Descripion</label>
							<textarea
								name="description" 
								autocomplete="off"
								required
							><%= typeof subject != 'undefined' ? subject : '' %></textarea>
						</div>
						<div class="button-wrap">
							<button type="submit">Create Ticket</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
</div>
