<% const fullname = customer.firstname.charAt(0).toUpperCase()+customer.firstname.slice(1)+" "+customer.lastname.charAt(0).toUpperCase()+customer.lastname.slice(1); %> 
<% let phone = ''; %> 
<% if (customer.phone.length < 10 || customer.phone.length > 11) { %> 
	<% phone = customer.phone %>
<% } else if (customer.phone.length === 10) {%> 
	<% phone = `(${customer.phone.substring(0,3)})`+' '+customer.phone.substring(3,6)+'-'+customer.phone.substring(6,10) %>
<% } else if (customer.phone.length === 11) {%> 
	<% phone = `+${customer.phone.substring(0,1)}`+' '+`(${customer.phone.substring(1,4)})`+' '+customer.phone.substring(4,7)+'-'+customer.phone.substring(7,11)%>
<% } %>
<link
	rel="stylesheet"
	href="/scss/logged-in/customer-profile/customer-profile.css"
/>
<!-- <link rel="stylesheet" href="/logged-in/layout/layout.css" /> -->
<link rel="stylesheet" href="/messages.css" />
<script type="module" defer src="/js/customer-profile.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<%- include('../partials/messages'); %>
			<div class="header-wrap">
				<div class="info-wrap">
					<h1>
						<%= fullname %>
						<span> <%= phone %> </span>
					</h1>
				</div>
				<div class="actions-wrap">
					<div class="new-ticket-btn action-style ">
						new ticket<i class="fas fa-ticket-alt"></i>
					</div>
					<div class="new-payment-btn action-style ">
						new payment<i class="fas fa-credit-card"></i>
					</div>					
					<div class="document-btn action-style ">
						<i class="fas fa-file-pdf"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="customer-content">
			<div class="left-container">
				<div class="tickets-table table-style ">
					<div>
						<div class="table-title">
							<p>TICKETS</p>
						</div>
						<table>
							<thead>
								<tr>
									<td class="">Ticket ID</td>
									<td class="">Subject</td>
									<td class="">Status</td>
									<td class="">Date Created</td>
								</tr>
							</thead>
							<tbody>
								<% if(Object.keys(customer.tickets).length === 0) { %>
									<tr>
										<td>No Tickets</td>
									</tr>
								<% } else {%> 
									<% for(const ticket in customer.tickets) { %>
										<tr>
											<td class="ticketID"><a href=<%= `/tickets/${ticket}` %>><%= ticket %></a></td>
											<td class="ticket_subject"><a href=<%= `/tickets/${ticket}`%>><%= customer.tickets[ticket].subject %></a></td>
											<td class="ticket_status"><%= customer.tickets[ticket].status %></td>
											<td class="ticket_date"><%= customer.tickets[ticket].dateCreated %></td>
										</tr>
									<% } %>
								<% } %> 
							</tbody>
						</table>
					</div>
				</div>
				<div class="payments-table table-style">
					<div>
						<div class="table-title">
							<p>PAYMENTS</p>
						</div>
						<table>
							<thead>
								<tr>
									<td class="">Payment #</td>
									<td class="">Amount</td>
									<td class="">Payment Method</td>
									<td class="">Date</td>
								</tr>
							</thead>
							<tbody>
								<% if(Object.keys(customer.payments).length == 0) {%>
									<tr>
										<td>No Payments</td>
									</tr>
								<% } else {%> 
									<% for(let i=0; i<Object.keys(customer.payments).length; i++) {%>
									<tr>
										<td><a href=<%=`/payments/${Object.keys(customer.payments)[i]}`%>> <%=Object.keys(customer.payments)[i]%></a></td>
										<td><%= "$"+Object.values(customer.payments)[i].orderTotal %></td>
										<td><%= Object.values(customer.payments)[i].paymentMethod %></td>
										<td><%= Object.values(customer.payments)[i].date %></td>
									</tr>
									<% } %> 
								<% } %> 
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="right-container">
				<div class="heading">
					<h2>Customer</h2>
					<span id="edit_customer_info"><i class="fas fa-edit" ></i></span>
				</div>
				<div class="quick-info-wrap">
					<div class="name">
						<img src="/assets/customer-profile/userIcon.svg" width="40px"/>
						<p id="name"><%= fullname %></p>
						<div>
							<input name="newFirstname" form="edit_customer_info_form" class="hidden edit-field" id="edit_firstname_field" type="text" value="<%= customer.firstname %> ">
							<input name="newLastname" form="edit_customer_info_form" class="hidden edit-field" id="edit_lastname_field" type="text" value="<%= customer.lastname %> ">
						</div>
						
					</div>
					<hr color="#eaeef5" size="1" />
					<div class="date-joined">
						<img src="/assets/customer-profile/dateJoinedIcon.svg" width="40px"/>
						<p>Joined on <b><%= customer.dateJoined %></b></p>
					</div>
					<hr color="#eaeef5" size="1" />
				</div>
				<div class="contact-info-wrap">
					<div>
						<h3>Contact Info</h3>
					</div>
					<div class="info-wrap">
						<div class="item-style">
							<span><i class="fas fa-phone-alt"></i></span>
							<p id="phone"><%= phone %> </p> 
							<input name="oldPhone" form="edit_customer_info_form" type="hidden" value="<%= phone %> ">
							<input name="newPhone" form="edit_customer_info_form" class="hidden edit-field" id="edit_phone_field" type="text" value="<%= customer.phone %>">
						</div>
						<div class="item-style">
							<span><i class="fas fa-envelope"></i></span>
							<p id="email"><%= customer.email.length === 0 ? "No Email" : customer.email%> </p>
							<input name="newEmail" form="edit_customer_info_form" class="hidden edit-field" id="edit_email_field" type="email" value="<%= customer.email.length === 0 ? "" : customer.email %>">
						</div>
					</div>
					<hr color="#eaeef5" size="1" />
					
				</div>
				
				<div class="account-stats">
					<div class="tickets">
						<img src="/assets/customer-profile/ticketsIcon.svg" width="40px"/>
						<% if(Object.keys(customer.tickets).length === 0) { %>
							<%= "No Tickets" %> 
						<% } else if(Object.keys(customer.tickets).length === 1) { %>
							<%= "1 Ticket" %> 
						<% } else { %>
							<%= Object.keys(customer.tickets).length +" Tickets"%> 
						<% } %> 
					</div>
					<hr color="#eaeef5" size="1" />
					<div class="payments">
						<img src="/assets/customer-profile/invoiceIcon.svg" width="40px"/>
						<% if(Object.keys(customer.payments).length === 0) { %>
							<%= "No Payments" %> 
						<% } else if(Object.keys(customer.payments).length === 1) { %>
							<%= "1 Payment" %> 
						<% } else { %>
							<%= Object.keys(customer.payments).length +" Payments"%> 
						<% } %> 
					</div>
					<hr color="#eaeef5" size="1" />
					<div class="spent">
						<img src="/assets/customer-profile/money.svg" width="40px"/>
						<% let total = 0; %> 
						<% for(const payment in customer.payments) {%>
							<% total += parseFloat(customer.payments[payment].orderTotal) %> 
						<% } %> 
						<%= "Spent $"+total.toFixed(2) %> 
						
					</div>
				</div>
				<div class="edit-info-btn-wrap">
					<button class="hidden" id="cancel_info_change" type>Cancel</button>
					<form id="edit_customer_info_form" action="/customers/update-customer-contact-info" method="POST">
						<input form="edit_customer_info_form" type="hidden" name="sentFrom" value="customer">
						<button class="hidden" id="submit_info_change" type="submit">Confirm Changes</button>
					</form>					
				</div>
			</div>
		</div>
		<form action="/create-new-" method="POST" id="create_new_form">
			<input type="hidden" name="firstname" id="firstname" value="<%=customer.firstname%>">			
			<input type="hidden" name="lastname" id="lastname" value="<%=customer.lastname%>">			
			<input type="hidden" name="phone" id="phone" value="<%=customer.phone%>">			
			<input type="hidden" name="email" id="email" value="<%=customer.email%>">			
			<input type="hidden" name="customerDataExists" id="customer_data_exists" value="">			
		</form>
	</main>
</div>
