<link rel="stylesheet" href="/logged-in/tickets/tickets.css" />
<script defer src="/logged-in/tickets/tickets.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Tickets</h1>
					<small>View recent tickets</small>
				</div>
				<div class="ticket-action-container">
					<div class="filter-container">
						<div class="search-wrap">
							<input onkeyup="searchForID()" id="search-ID" type="text" placeholder="Search ticket ID...">
						</div>
						<div class="search-wrap" id="search-customer-wrap">
							<input onkeyup="searchForCustomer()" id="search-customer" type="text" placeholder="Search customer name...">
						</div>
						<div class="search-wrap" id="search-subject-wrap">
							<input onkeyup="searchForSubject()" id="search-subject" type="text" placeholder="Search subject...">
						</div>
						<div class="search-wrap">
							<input onkeyup="searchForStatus()" id="search-status" type="text" placeholder="Search status...">
						</div>
					</div>
					<div class="new-ticket-wrap">
						<form action="/new-ticket" method="GET">
							<button type="submit">New Ticket</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card-scroll-box">
				<table>
					<thead>
						<tr>
							<td class="ticket-id">Ticket ID</td>
							<td class="customer">Customer</td>
							<td class="subject">Subject</td>
							<td class="status">Status</td>
							<td class="last-update" id="lastUpdatedHeader">
								<a>Last Updated</a>
							</td>
							<td class="issue">Issue</td>
						</tr>
					</thead>
					<tbody>
						<% if(tickets.length === 0) {%>
                            <tr><td style="margin-left: 2rem;">No Tickets</td></tr>
                        <% } else { %> 
							<% for(let i=0; i<tickets.length; i++) { %> 
								<input type="hidden" id="phone" value="<%= tickets[i][1].customer.phone %>">
								<tr id="table-row">
									<td class="ticket-id">
										<a class="ticket_link" id="ticket" href="/tickets/"
											><%=tickets[i][0]%></a
										>
									</td>
									<td class="customer">
										<a href="/customers/" class="customer_link"
											><%=tickets[i][1].customer.firstname.charAt(0).toUpperCase()+tickets[i][1].customer.firstname.slice(1) + " " + tickets[i][1].customer.lastname.charAt(0).toUpperCase()+tickets[i][1].customer.lastname.slice(1)%></a
										>
									</td>
									<td class="subject">
										<a class="subject_link" href="/tickets/"
											> <%= tickets[i][1].subject %> </a
										>
									</td>
									<td class="status">
										<div>
											<i id="icon-color" class="fas fa-circle"></i>
											<select name="status" class="status-selects" id="status">
												<option selected="selected" class="selected-option">
														<%= tickets[i][1].status %>
												</option>
												<% for(let j=0; j<store.storeSettings.tickets.status.length; j++) { %>
													<option class="status-options">
														<%= store.storeSettings.tickets.status.filter(item => item[0] !== tickets[i][1].status).map(item => item[0])[j] %>
													</option>
												<% } %> 	
											</select>
										</div>
									</td>
									<td class="last-update last-update-text"><%= tickets[i][1].lastUpdated %></td>
									<td name="issue" class="issue" id="issue">
										<select name="issue" class="issue-selects" id="issue">
											<option selected="selected">
													<%= tickets[i][1].issue %>
											</option>
											<% for(let j=0; j<store.storeSettings.tickets.issue.length; j++) { %>
												<option class="issue-options">
													<%= store.storeSettings.tickets.issue.filter(item=>item!==tickets[i][1].issue)[j] %>
												</option>
											<% } %> 	
										</select>
									</td>
								</tr>
							<% } %> 
						<% } %> 
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
