<link rel="stylesheet" href="/scss/logged-in/tickets/tickets.css" />
<script type="module" defer src="/js/tickets.js"></script>
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Tickets</h1>
					<small>View recent tickets</small>
				</div>
				<div class="ticket-action-container">
					<div class="filter-container">
						<div class="search-wrap">
							<input id="search_ID" type="text" placeholder="Search ticket ID...">
						</div>
						<div class="search-wrap" id="search_customer_wrap">
							<input id="search_customer" type="text" placeholder="Search customer name...">
						</div>
						<div class="search-wrap" id="search_subject_wrap">
							<input id="search_subject" type="text" placeholder="Search subject...">
						</div>
						<div class="search-wrap">
							<input id="search_status" type="text" placeholder="Search status...">
						</div>
						<div class="checkbox-wrap">
							<p>Hide resolved</p>
							<input id="hide_resolved_tickets" type="checkbox" checked>
						</div>
					</div>
					<div class="new-ticket-wrap">
						<form action="/tickets/new-ticket" method="POST">
							<button type="submit">New Ticket</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card-scroll-box">
				<table>
					<thead>
						<tr>
							<td class="ticket-id">Ticket ID</td>
							<td class="customer">Customer</td>
							<td class="subject">Subject</td>
							<td class="status">Status</td>
							<td class="last-update" id="last_updated_header">
								<a>Last Updated   </a><i class="fas fa-sort"></i>
							</td>
							<td class="issue">Issue</td>
						</tr>
					</thead>
					<tbody id="tbody">
						<% if(tickets.length === 0) {%>
                            <tr><td style="margin-left: 2rem;">No Tickets</td></tr>
                        <% } else { %> 
							<% for(let i=0; i<tickets.length; i++) { %> 
								<tr id="table_row">
									<td class="ticket-id">
										<a id="ticket" href=<%=`/tickets/${tickets[i][0]}`%>
											><%=tickets[i][0]%></a
										>
									</td>
									<td class="customer">
										<a href=<%=`/customers/${tickets[i][1].customer.phone}`%>>
											<%=tickets[i][1].customer.firstname.charAt(0).toUpperCase()+tickets[i][1].customer.firstname.slice(1) + " " + tickets[i][1].customer.lastname.charAt(0).toUpperCase()+tickets[i][1].customer.lastname.slice(1)%></a
										>
									</td>
									<td class="subject">
										<a class="subject_link" href=<%=`/tickets/${tickets[i][0]}`%>
											> <%= tickets[i][1].subject %> </a
										>
									</td>
									<td class="status">
										<div>
											<i id="icon_color" class="fas fa-circle"></i>
											<select name="status" class="status-selects" id="status">
												<option selected="selected" class="selected-option">
														<%= tickets[i][1].status %>
												</option>
												<% for(let j=0; j<store.storeSettings.tickets.status.length; j++) { %>
													<option class="status-options">
														<%= store.storeSettings.tickets.status.filter(item => item[0] !== tickets[i][1].status).map(item => item[0])[j] %>
													</option>
												<% } %> 	
											</select>
										</div>
									</td>
									<td class="last-update last-update-text"><%= tickets[i][1].lastUpdated %></td>
									<td name="issue" class="issue" id="issue">
										<select name="issue" class="issue-selects" id="issue">
											<option selected="selected">
													<%= tickets[i][1].issue %>
											</option>
											<% for(let j=0; j<store.storeSettings.tickets.issue.length; j++) { %>
												<option class="issue-options">
													<%= store.storeSettings.tickets.issue.filter(item=>item!==tickets[i][1].issue)[j] %>
												</option>
											<% } %> 	
										</select>
									</td>
								</tr>
							<% } %> 
						<% } %> 
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
