<link rel="stylesheet" href="/logged-in/tickets/tickets.css" />
<script defer src="/logged-in/tickets/tickets.js"></script>
<div class="main-content">
	<main>
		<div class="page-header">
			<div class="header-wrap">
				<div class="title-wrap">
					<h1>Tickets</h1>
					<small>View recent tickets</small>
				</div>
				<div class="ticket-action-container">
					<div class="filter-container">filters go here</div>
					<div class="new-ticket-wrap">
						<form action="/new-ticket" method="GET">
							<button type="submit">New Ticket</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card-scroll-box">
				<table>
					<thead>
						<tr>
							<td class="ticket-id">Ticket ID</td>
							<td class="customer">Customer</td>
							<td class="subject">Subject</td>
							<td class="status">Status</td>
							<td class="last-update">Last Updated</td>
							<td class="issue">Issue</td>
						</tr>
					</thead>
					<tbody>
						<% for(let i=0; i<tickets.length; i++) { %> 
							<tr id="table-row">
								<td class="ticket-id">
									<a class="ticket_link" id="ticket" href="/tickets/"
										><%=tickets[i][0]%></a
									>
								</td>
								<td class="customer">
									<a href="/customers/" class="customer_link"
										><%=tickets[i][1].customer.firstname.charAt(0).toUpperCase()+tickets[i][1].customer.firstname.slice(1) + " " + tickets[i][1].customer.lastname.charAt(0).toUpperCase()+tickets[i][1].customer.lastname.slice(1)%></a
									>
								</td>
								<td class="subject">
									<p class="test"></p>
									<a class="subject_link" href="/tickets/"
										> <%= tickets[i][1].subject %> </a
									>
								</td>
								<td class="status">
									<select name="status" class="status-selects" id="status">
										<option selected="selected">
												<%= tickets[i][1].status %>
										</option>
										<% for(let j=0; j<store.storeSettings.tickets.status.length; j++) { %>
											<option class="status-options">
												<%= store.storeSettings.tickets.status.filter(item=>item!==tickets[i][1].status)[j] %>
											</option>
										<% } %> 	
									</select>
								</td>
								<td class="last-update last-update-text"><%= tickets[i][1].lastUpdated %></td>
								<td name="issue" class="issue" id="issue">
									<select name="issue" class="issue-selects" id="issue">
										<option selected="selected">
												<%= tickets[i][1].issue %>
										</option>
										<% for(let j=0; j<store.storeSettings.tickets.issue.length; j++) { %>
											<option class="issue-options">
												<%= store.storeSettings.tickets.issue.filter(item=>item!==tickets[i][1].issue)[j] %>
											</option>
										<% } %> 	
									</select>
								</td>
							</tr>
						<% } %> 
					</tbody>
				</table>
			</div>
		</div>
	</main>
</div>
